.game h1{
    font-size: 2.5em;
}

.points span{
    font-weight: bold;
}

.tip{
    font-weight: normal;
    font-style: italic;
}

.tip span{
    font-weight: bold;
    color: #ECFA00;
}

.wordContainer{
    display: flex;
    justify-content: center;
    margin: 1.5em;
    padding: 1.5em;
    border: 15px solid #ECFA00;
    gap: 10px;
}

.letter, .blankSquare{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    width: 100px;
    height: 100px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    background-color: white;
    font-weight: bold;
}

.letterContainer p{
    margin-bottom: 1.2em;
}

.letterContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input{
    width: 50px;
    height: 50px;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-right: 1em;
}

.wrongLettersContainer{
    margin: 2em 0;
}
