form{
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

input, textarea, select{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}