nav{
    display: flex;
    justify-content: center;
}

nav a{
    margin: 0 15px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

nav a:hover{
    color: #ccc;
}

.active{
    background-color: black;
    color: white;
}